.navi
  .navi-header
    %h2 PasarBebas
  %ul.navi-menu
    %li
      .hov-effect
      = link_to "Home", root_path
    %li
      .hov-effect
      = link_to "Blog", root_path
    %li
      .hov-effect
      = link_to "Login", root_path
